@import "global.css";
@import "utils.css";
@import "catalog.css";
@import "photo.css";
@import "post.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.comment {
    border: 1px solid black;
    margin-bottom: 2px;
}